<%= form_with(model: post, data: { controller: "form", action: "input->form#preview" }) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <strong>Preview</strong>
    <div id="post_preview">
      <%= render partial: "posts/content", object: post.content %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
    <%= form.button "Preview Post",
                    formaction: previews_path(render_into: "post_preview"),
                    data: { form_target: "preview" }
    %>
  </div>
<% end %>
